<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Todo #<%= todo.id %></h3>
    </div>
    <div class="panel-body">
      <dl>
        <dt>Content</dt>
        <dd><%= todo.content %></dd>
      </dl>
      <div class="btn-group btn-group-justified">
        <%= link_to todo_url(todo), :class => "btn btn-primary" do %>
          <i class="fa fa-search-plus"></i>
        <% end %>
        <% if todo.user == current_user %>
          <%= link_to edit_todo_url(todo), :class => "btn btn-warning" do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <%= link_to todo_url(todo), :method => "delete", :data => { :confirm => "Do you really want to delete this todo?" }, :class => "btn btn-danger" do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
